/* GENERAL STYLES */

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: black;    
}

/* VIEWPORT STYLES */

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

/* ELEMENTS WITHIN VIEWPORT STYLES */

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content:space-around;
}
#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    width:128px;
    height:64px;
    position: absolute;
    background-image: url('../images/ship.png');
}

/* BUTTON DIV AND BUTTON STYLES */

#sailAwayButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1200px;
}
#sailbutton {
    font-family: 'Great Vibes', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    font-size: 20px;
    left: 0;
    width: 640px;
}

/* MESSAGE DIV AND MESSAGE STYLES */

#divMessage {
    position: absolute;
    bottom: 15;
    left: 0;
    width: 1200px;
}
#message {
    font-family: 'Great Vibes', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    font-size: 27px;
    bottom: 0;
    left: 0;
    width: 640px;
    background-image: url('../images/sunset.jpeg')
}

#headsUpNext {
    font-family: 'Great Vibes', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    font-size: 27px;
    bottom: 0;
    left: 0;
    width: 640px;
    background-image: url('../images/sunset.jpeg')
}

#headsUpCurrent {
    font-family: 'Great Vibes', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    font-size: 27px;
    bottom: 0;
    left: 0;
    width: 640px;
    background-image: url('../images/sunset.jpeg')
}