/* GENERAL STYLES */

html, body {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: black;    
}

/* VIEWPORT STYLES */

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

/* ELEMENTS WITHIN VIEWPORT STYLES */

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content:space-around;
}
#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    width:128px;
    height:64px;
    position: absolute;
    background-image: url('../images/ship.png');
}

/* BUTTON DIV AND FORM / BUTTON STYLES */

#sailAwayButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1200px;
}
#sailbutton {
    font-family: 'Press Start 2P', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    font-size: 20px;
    left: 0;
    width: 640px;
}

form {
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
    width:100;
    height:100;
    display: flex;
    flex-flow: column;
    background-image: url('../images/sunsetForm.png');
    background-size: 60%;
    background-repeat: no-repeat;
}

#portName {
    font-family: 'Press Start 2P', cursive;
    width: 40%;
    align-self: start;
    margin-left: 10%;
    margin-bottom: 7%;
    color:white;
    background-color: black;
}
#submit {
    font-family: 'Press Start 2P', cursive;
    width: 25%;
    align-self: end;
    color:white;
    background-color: black;
}
#newIti {
    font-family: 'Press Start 2P', cursive;
    width: 40%;
    font-size: 11px;
    align-self: end;
    color:white;
    background-color: black;
}
#instructions {
    width: 30%;
    font-size: 10px;
    text-align: center;
    align-self: end;
    color:white;
    padding-left: 0%;
}



/* MESSAGE DIV AND MESSAGE STYLES */



#divMessage {
    position: absolute;
    bottom: 15;
    left: 0;
    width: 1200px;
}

#message {
    font-family: 'Press Start 2P', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    font-size: 18px;
    bottom: 0;
    left: 0;
    width: 640px;
    background-image: url('../images/sunset.jpeg')
}

#headsupmessages {
    display:flex;
}

#headsUpNext {
    font-family: 'Press Start 2P', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    border-radius: 100%;
    color: white;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    font-size: 17px;
    bottom: 0;
    left: 0;
    width: 400px;
    background-image: url('../images/sunset.jpeg')
}

#headsUpCurrent {
    font-family: 'Press Start 2P', cursive;
    border: 1;
    border-bottom: 4px solid rgb(244, 101, 156);
    color: white;
    border-radius: 100%;
    background-color: rgb(255, 98, 0);
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    font-size: 17px;
    bottom: 0;
    left: 0;
    width: 400px;
    background-image: url('../images/sunset.jpeg')
}

/* AUDIO CONTROLS */
#play {
    font-family: 'Press Start 2P', cursive;
    align-self: start;
    background-color: black;
    color: white;
}
#pause {
    font-family: 'Press Start 2P', cursive;
    align-self: start;
    background-color: black;
    color: white;
}